.bg-highlight2 {
  background: #607dab55 !important;
}

.bg-highlight {
  background: #203d7b55 !important;
  // border-top: 1px solid rgba(white, 0.05) !important;
  // border-bottom: 1px solid rgba(black, 0.2) !important;
}

.bg-highlight3 {
  background: #102d4644 !important;
}

.bg-highlight4 {
  background: #6200ea11 !important;
  // border-top: 1px solid #ffff0077 !important;
}

.bg-highlight5 {
  background: #102d4644 !important;
  // border-top: 1px solid rgba(white, 0.05) !important;
  // border-bottom: 1px solid rgba(black, 0.25) !important;
}
