@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import "~@mdi/font/css/materialdesignicons.css"; // Ensure you are using css-loader
@import "~vuetify/dist/vuetify.min.css";

@import 'common/all.scss';
@import 'vuetify/all.scss';
@import 'components/all.scss';
