.env
.env-moved-by-docker-build
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.boc
*.zip
.vscode
.idea
pids
logs
results
tmp
public/css/main.css
coverage
node_modules
bower_components
.idea
*.iml
*.note
.DS_Store
package-lock.json
yarn.lock
uploads